@import "reset";

body {
  background-color: #eee;
  font-family: "Helvetica", "Arial", sans-serif;
}

.row {
  display: flex;
}

.assignment-bar {

}

.color_10 {
  fill: #778899;
}

.color_11 {
  fill: #0f9f5a;
}
